body.light-mode {
  background-color: #3580BB !important;
}

.home-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.navbar-light {
  background-color: #FFFFFF;
}

.navbar-dark {
  background-color: #002E5D; 
}

.btn-primary {
  background-color: #002E5D; 
  border-color: #002E5D; 
}

.btn-primary:hover {
  background-color: #001a3d; 
  border-color: #001a3d; 
}

.btn-outline-secondary:hover {
  background-color: #002E5D; 
}

.card {
  transition: background-color 0.5s, color 0.5s;
}

.mode-toggle-btn {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

html,
body,
body.dark-mode {
  background-color: #121212 !important;
}

.container {
  background-color: transparent !important;
}
